

.heading{
  color:royalblue;
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 250px;
}

.the-other-goofy-ahh-heading-font-for-home-page-slash-skull-emoji {
  color:royalblue;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* .links{
    font-family: Helvetica Neue, Helvetica, Ubuntu, Segoe UI, Verdana, sans-serif;
} */
/* 
.glegoo-regular {
    font-family: "Glegoo", serif;
    font-weight: 400;
    font-style: normal;
  } */

  
  .glegoo-bold {
    font-family: "Glegoo", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
  }

  .rowed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }




  

.bottom-page-stuff {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-weight: 340;
  font-style: normal;
  font-variation-settings:
    "wdth" 101.3;
}

.background-color {
    background-color:#FFFCEB;
}

.BLACK {
    background-color: black;
}